<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/404.css">
</head>

<body>

    <%- include('includes/navigation.ejs') %>
    <div class="err">
        <p><h1>Page Not Found!!!</h1></p>
    </div>

    <%- include('includes/end.ejs') %>