<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/404.css">
<link rel="stylesheet" href="/css/main.css">
</head>

<body data-set-preferred-mode-onload="true">

    <%- include('includes/navigation.ejs') %>
    <div class="content-wrapper">
        <div class="err ">
            <p><h1>Some Error Occurred</h1></p>
            <p>We are working on fixing this, Sorry for inconvenience</p>
        </div>
    </div>

    <%- include('includes/end.ejs') %>