*{
margin: 0;
padding: 0;
box-sizing: inherit;
}
html {
box-sizing: border-box;
}
body{
font-family:sans-serif;
}

.main{
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 5rem;
        /* border: 2px solid  red; */
        background: linear-gradient(from black,to grey);
    }
button{
        padding: .2rem;
        border: 2px solid blue;
        background-color: rgb(221, 221, 248);
        color: blue;
        border-radius: .2rem;
        font-size: 1rem;
        margin: 2rem 0;
        width: 50%;
    }
button:active,
button:hover{
        background-color: blue;
        border: rgb(223, 223, 239);
        color: rgb(228, 228, 238);
    }
.form-control label,
.form-control input,
.form-control textarea{
        font-size: 1rem;
    }
.form-control label{
        font-weight: bold;
        color:blue;
    }
.form-control input{
      padding: .5rem;
    }
.product-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }
    .form-control{
        /* border: 2px solid black; */
        margin-bottom: .75rem;
        display: flex;
        flex-direction: column;
    }
    
    
      

