*{
margin: 0;
padding: 0;
box-sizing: inherit;
}
html {
box-sizing: border-box;
}
body{
font-family:sans-serif;
}

a{
  text-decoration: none;
}
.centered{
  text-align: center;
}
input{
  padding: .5rem;
  width: 100%;
}
ul{
  list-style: none;
}
.login-item .invalid{
  border: 2px solid  red;
  background-color: rgb(250, 231, 231);
}
.main-header{
    width: 100%;
    height: 3rem;
    background-color: rgb(20, 17, 21);
    padding:0 1rem;
}
.main-header__item-list{
    display: flex;
    margin: 0;
    padding: 0; 
}
.main-header__item{
    list-style: none;
    margin: 0 1rem;
    padding: 0;
}
.main-header__item a{
    text-decoration: none;
    color: yellow;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color: rgb(184, 184, 144);
}
.main-header__nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.btn{
  padding: .5rem 3rem;
  border: 2px solid blue;
  background-color: rgb(221, 221, 248);
  color: blue;
  border-radius: .2rem;
  font-size: 1rem;
  cursor: pointer;
}
.btn:active,
.btn:hover,
.pagination a.active{
  background-color: blue;
  border: 2px solid rgb(173, 173, 237);
  color: rgb(228, 228, 238);
}
.pagination{
  text-align: center;
  padding: 1rem 0;
}
.pagination a{
  border: 2px solid blue;
  background-color: rgb(221, 221, 248);
  color: blue;
  padding: .25rem;
  font-size: large;
  text-decoration: none;
  margin: 0 1rem;
}



/* .pagination a:hover{
 
} */

.not_found{
  background: url('/img/not_found.svg') no-repeat center;
  background-size: cover;
  height: 90vh;
 display: flex;
 justify-content: center;
 align-items: center;
 color: rgb(236, 33, 77);;
}

/************************* Start  Card **************************/
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
  }
  
  .card {
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 25rem;
    margin: 1rem;
    height: 30rem;
  }
  
  .card__header,
  .card__content {
    padding: 1rem;
  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
  }
  
  .card__image {
    width: 100%;
    height: 60%;
  }
  
  .card__image img {
    width: 100%;
    height: 100%;
  }
  
  .card__actions {
      display: flex;
      text-align: center;
      justify-content: center;
  }
  

  .card__actions a {
      margin: 0 0.25rem;
  }


/************ End  Card **********************/



/************ Start Details Page *****************************************/
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1rem;
  border: 1px solid red;
  border-radius: 1rem;
  box-shadow: .3rem .3rem rgb(236, 194, 194);
  padding: 1rem;
}

.detail-img__img{
  height: 25rem;
  width: 20rem;
  border-radius: 1rem;
  margin: .75rem 0;
}
.detail-description{
  margin: .75rem 0;
}



/************ End Details Page ***************/


/************ Start Login *****************************************************/
.login-main{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form{
  border: 2px solid  black;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: .5rem;
  font-size: large;
  box-shadow: 4px 4px 2px grey;
}
.login-item{
  margin: 1rem 0;
}
.login-item input{
  font-size: large;
}
.error-message{
  color: red;
  font-weight: bold;
}
#reset-btn a{
  color: red;
    margin-top: .5rem;
}
#reset-btn {
    margin-top: .5rem;
}

.logout-form button{
  color: red;
  font-weight: bold;
  font-size: 75%;
}
/************ End Login ***************************************/
